{% extends 'main/base.html' %}

{% block content %}
<header class="masthead d-flex">
    <div class="container text-center my-auto">
            <div class="container">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-3">
                        <form action="" method="POST" class="form-signin">

                            {% csrf_token %}
                        <div>&nbsp;</div>
                        <h3>Edit Information</h3>
                        <hr>
                        <div class="card-body">
                            <div class="form-label-group"> {{ form.username }}</div>
                            <div class="form-label-group"> {{ form.first_name }}</div>
                            <div class="form-label-group"> {{ form.last_name }}</div>
                            <div class="form-label-group"> {{ form.email }}</div>
                            <hr>

                            <input class="btn btn-outline-primary" type="submit" value="Edit">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="overlay"></div>
</header>
{% endblock %}

